$color-primary: #f7f7f7;
$color-secondary: #777;
$color-white: #fff;
$color-black: #0a0a0a;
$color-orange: #ffbe76;

$color-facebook: #1877f2;
$color-twitter: #1da1f2;
$color-instagram: #c32aa3;
$color-pinterest: #bd081c;
$color-behance: #1769ff;
