.footer {
    padding: 5rem 0rem;
    & .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    & .copy {
        font-size: 2rem;
        margin-bottom: 2.5rem;
    }

    & .rights {
        font-size: 1.4rem;
        color: rgba($color-secondary, .7);
    }
}
